body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: lightblue;
}

h1 {
  text-align: center;
  font-family: Verdana, sans-serif;
}

p {
    font-family: Verdana, sans-serif;
}

.game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.game-board {
    display: grid;
    grid-template-columns: repeat(4, 100px);
    gap: 10px;
}

.card {
    width: 100px;
    height: 100px;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    cursor: pointer;
}

.score-panel {
    margin-top: 20px;
}

button {
    border: none;
    border-radius: 0.3em;
    padding: 1em 1.5em;
    cursor: pointer;
    align-items: center;
    font-family: Verdana, sans-serif;
}

.card {
    width: 100px;
    height: 100px;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    cursor: pointer;
    /* New styles for facedown cards */
    background-image: url('cover.png'); /* Replace with the path to your card back image */
    background-size: cover;
    color: transparent;
}


.congrats-message {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 999;
}

.congrats-message p {
    font-size: 24px;
    margin-bottom: 10px;
}

.confetti-canvas {
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: 998;
}
